.calendar {
  margin: 1rem;
}

.calendar .calendar-season .MuiTabs-list {
  overflow-x: auto;
}

.calendar .calendar-seasons .MuiTab-root {
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px solid var(--mui-palette-primary-main);
  display: flex;
  flex-direction: row;
  font-size: large;
  gap: 0.5rem;
  margin: 0 0.25rem;
  min-height: 50px;
  min-width: 150px;
  opacity: 0.5;
}

.calendar .calendar-seasons .MuiTab-root.Mui-selected {
  background: var(--mui-palette-primary-main);
  color: white;
  opacity: 1;
}

.calendar .calendar-seasons .MuiTab-root img {
  margin-bottom: 0;
}

.calendar .calendar-seasons .MuiTabs-indicator {
  background-color: var(--mui-palette-secondary-main);
}

.calendar-season {
  overflow-x: auto;
}

.calendar-season table {
  background: var(--mui-palette-secondary-light);
  border: 1px solid var(--mui-palette-primary-main);
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 750px;
  width: 100%;
}

.calendar-season table thead {
  background: var(--mui-palette-primary-main);
}

.calendar-season table tbody td {
  border: 1px solid var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-main);
  cursor: pointer;
  height: 150px;
}

.calendar-season table tbody td .MuiBox-root {
  margin: 0.5rem 0.75rem 0.5rem 0.5rem;
}

.calendar-season table tbody td .MuiBox-root > strong:last-of-type {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 150px;
}

.calendar-header {
  background: var(--mui-palette-primary-light);
  border: 1px solid var(--mui-palette-primary-main);
  color: var(--mui-palette-text-secondary);
  margin-bottom: 1rem;
}

.calendar-header .calendar-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.calendar-header .calendar-nav h2 {
  margin: 0;
}

.calendar-header .calendar-nav button {
  color: var(--mui-palette-primary-main);
}

.calendar-header .calendar-nav button:first-of-type {
  margin-right: auto;
}

.calendar-header .calendar-nav button:last-of-type {
  margin-left: auto;
}

.calendar-header .calendar-controls {
  background: var(--mui-palette-secondary-light);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 0;
}

.calendar-header .calendar-controls > .MuiButton-root {
  width: 100%;
  text-transform: unset;
  font-size: medium;
}

.calendar-header .calendar-controls > .MuiButton-root > .MuiButton-icon {
  margin-left: auto;
}

.calendar-header .calendar-controls .calendar-settings {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

@media only screen and (max-width: 650px) {
  .calendar {
    margin: 0;
  }
}
