.calendar {
  margin: 1rem;
}

.calendar .calendar-season .MuiTabs-list {
  overflow-x: auto;
}

.calendar .calendar-seasons .MuiTab-root {
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px solid var(--mui-palette-primary-main);
  display: flex;
  flex-direction: row;
  font-size: large;
  gap: 0.5rem;
  margin: 0 0.25rem;
  min-height: 50px;
  min-width: 150px;
  opacity: 0.5;
}

.calendar .calendar-seasons .MuiTab-root.Mui-selected {
  background: var(--mui-palette-primary-main);
  color: white;
  opacity: 1;
}

.calendar .calendar-seasons .MuiTab-root img {
  margin-bottom: 0;
}

.calendar .calendar-seasons .MuiTabs-indicator {
  background-color: var(--mui-palette-primary-light);
}

.calendar-season {
  background: var(--mui-palette-secondary-light);
  border: 1px solid var(--mui-palette-primary-main);
  border-collapse: collapse;
  width: 100%;
}

.calendar-season .calendar-days {
  display: flex;
  flex-direction: column;
}

.calendar-season .calendar-days > .MuiBox-root {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.calendar-season .calendar-days-of-week-header,
.calendar-season .calendar-season-header {
  background: var(--mui-palette-primary-main);
  justify-content: space-around;
  display: flex;
}

.calendar-season .calendar-season-header {
  display: none;
}

.calendar-season .calendar-day {
  border: 1px solid var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-main);
  cursor: pointer;
  position: relative;
  min-height: 150px;
  width: 100%;
  padding: 0.25rem;
}

.calendar-season .calendar-day .calendar-icon-list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 0.25rem;
}

.calendar-season .calendar-day > .MuiBox-root:last-of-type {
  bottom: 0;
  position: absolute;
  right: 0.5rem;
}

.calendar-header {
  color: var(--mui-palette-text-secondary);
  margin-bottom: 1rem;
}

.calendar-header .calendar-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.calendar-header .calendar-nav .calendar-nav-stats {
  margin-left: auto;
}

.calendar-header .calendar-nav h2 {
  align-items: center;
  display: flex;
  font-weight: 400;
  gap: 0.5rem;
}

.calendar-header .calendar-nav h3 {
  font-weight: 300;
}

.calendar-header .calendar-nav button {
  color: var(--mui-palette-primary-main);
}

.calendar-header .calendar-nav button:first-of-type {
  margin-right: auto;
}

.calendar-header .calendar-nav button:last-of-type {
  margin-left: auto;
}

.calendar-header .calendar-controls {
  border-radius: 0.25rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-direction: column;
  padding-top: 0.5rem;
}

.calendar-header .calendar-controls > .MuiButton-root {
  background: var(--mui-palette-secondary-light);
  font-size: medium;
  text-transform: unset;
  width: 100%;
}

.calendar-header .calendar-controls > .MuiButton-root > .MuiButton-icon {
  margin-left: auto;
}

.calendar-header .calendar-controls .calendar-settings {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.text-with-icon {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

@media only screen and (max-width: 600px) {
  .calendar {
    margin: 0;
  }

  .calendar-tab-label {
    display: none;
  }

  .calendar-header .calendar-controls > .MuiButton-root {
    border-radius: 0;
  }

  .calendar .calendar-seasons .MuiTab-root {
    min-width: 50px;
  }

  .calendar-season .calendar-days-of-week-header {
    display: none;
  }

  .calendar-season .calendar-days > .MuiBox-root {
    flex-direction: column;
  }

  .calendar-season .calendar-day {
    min-height: 50px;
    padding: 0.5rem;
  }

  .calendar-season .calendar-day > .MuiBox-root:last-of-type {
    right: 2rem;
  }
  .calendar-season .calendar-season-header {
    display: flex;
  }
}
