:root {
  font-family: "Roboto", Avenir, Helvetica, Arial, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow-y: auto;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  height: 100%;
}

.background {
  background: url("/background.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  left: 0;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: -1000;
}

a {
  color: var(--mui-palette-secondary-light);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
